:root {
--darker-blue: hsl(243, 87%, 12%);
--desat-blue: hsl(238, 22%, 44%);
--bright-blue: hsl(224, 93%, 58%);
--moderate-cyan: hsl(170, 45%, 43%);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h* {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

/* Navbar Styling */
nav {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto 5rem auto ;
}

nav .logo {
    width: 100%;
}

nav .logo img {
    transform: scale(.5);
    margin-left: -2rem;
}

nav .links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

nav .links ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav .links ul li {
    color: var(--desat-blue);
    list-style: none;
    text-decoration: none;
}

@media screen and (max-width: 360px) {
    nav .logo {
        width: 35%;
    }

    nav .links ul {
        width: 90%;
    }
}

@media screen and (max-width: 305px) {
    nav .logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    nav .links {
        display: none;
    }
}

/* Main or Hero section styling */
main {
    width: 85%;
    margin: auto;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

/* */
.illustration {
    width: 85%;
}

.illustration img {
    max-width: 100%;
}
/* */

main .description {
    width: 100%;
    display: grid;
    row-gap: 2rem;
}

main .description h1 {
    text-align: center;
    color: var(--darker-blue);
    font-size: 1.5rem;
}

main .description p {
    text-align: center;
    color: var(--desat-blue);
}

main .description > div {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

input[type=email] {
    padding: .5rem 1rem;
}

input[type=email]::placeholder {
    color: var(--desat-blue);
}

main .description div > label {
    width: 100%;
    margin: auto;
    text-align: center;
}

/*  */
.start-btn {
    width: 100%;
    background-color: var(--bright-blue);
    display: block;
    color: white;
    text-decoration: none;
    padding: .5rem;
}
/*  */

section {
    width: 100%;
    margin: auto;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

section > * > * {
    width: 85%;
    margin: auto;
}

/* Stay Productive section styling */
.productivity {
    background-image: url("../assets/images/bg-curve-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    display: flex;
    gap: 5rem;
    flex-direction: column;
}

.productivity .content {
    background-color:#F8F8FE;
    margin-top: 3.3rem;
    padding-top: 2rem;
}

.productivity .stay {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.productivity .stay h1 {
    text-align: center;
    color: var(--darker-blue);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.productivity .stay div p {
    color: var(--desat-blue);
    margin-bottom: 1rem;
}

.productivity .stay > div:nth-child(1) a {
    color: var(--moderate-cyan);
    text-align: center;
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.productivity .stay > div:nth-child(1) a > span {
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--moderate-cyan);
}

.productivity .stay > div + div {
    background-color: white;
    display: grid;
    border-radius: .5rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 5rem;
}

.productivity .stay div + div > div img {
    margin-bottom: .5rem;
}

.productivity .stay div + div > div + div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.productivity .stay div + div > div + div img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.productivity .stay div + div > div + div p {
    font-size: .7rem;
    color: var(--darker-blue);
    font-weight: 700;
    margin-bottom: 0;
}

.productivity .stay div + div > div + div p > span {
    color: var(--desat-blue);
    font-weight: 400;
}

/* Get early access section styling */
.access {
    color: white;
    background-color: var(--desat-blue);
    text-align: center;
    display: grid;
    row-gap: 1rem;
    padding: 5rem 1rem;
}

.access h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.access > div + div {
    width: 100%;
    margin: auto;
    display: grid;
    row-gap: .5rem;
}

.access > div + div > a {
    width: 85%;
}

/* Footer section styling */
footer {
    color: rgba(255, 255, 255, .7);
    background-color: var(--darker-blue);
    display: grid;
    gap: 2rem;
    padding-top: 1rem;
}

footer > * {
    width: 85%;
    margin: auto;
}

footer li {
    list-style: none;
}

footer a {
    color: rgba(255, 255, 255, .7);
}

.footer {
    display: grid;
    row-gap: 2rem;
    padding-top: 3rem;
}

.footer img + div {
    display: grid;
    row-gap: 1rem;
}

.footer img + div > p {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer > div > ul li + li {
    margin-top: 1rem;
}

.footer .socials {
    text-align: center;
}

.footer .socials ul {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.footer .socials ul li + li {
    margin-top: 0;
}

.footer .socials .fab {
    color: rgba(255, 255, 255, .7);
    display: grid;
    place-items: center;
    border: 1px solid rgba(255, 255, 255, .7);
    border-radius: 50%;
    padding: 1rem;
}

footer .attribution {
    text-align: center;
    margin-bottom: 2rem;
}

footer .attribution a { 
    color: var(--moderate-cyan);
}

@media screen and (min-width: 1200px) {
    /* Navbar Styling */
    nav {
        width: min(85%, 75rem);
    }

    nav .links {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    nav .links ul {
        width: 50%;
    }

    /* Main or Hero section styling */
    main {
        width: 85%;
        margin: auto;
        display: flex;
        gap: 2rem;
        flex-direction: row-reverse;
        align-items: center;
    }

    main .description {
        width: 100%;
        display: grid;
        align-items: center;
        row-gap: 1.5rem;
    }

    main .description h1 {
        text-align: left;
        line-height: 1.5;
        font-size: 2rem;
    }

    main .description p {
        text-align: left;
    }

    main .description > div {
        width: 100%;
        flex-direction: row;
    }

    main .description > div > input {
        width: 55%;
    }

    main .description > div > label > a {
        width: 75%;
        text-align: center;
    }

    main .description div > label {
        width: 45%;
    }

    section > * {
        width: min(85%, 75rem);
        margin: auto;
    }

    .productivity {
        background-image: url("../assets/images/bg-curve-desktop.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top center;
        display: flex;
        gap: 5rem;
        flex-direction: column;
    }

    .productivity .content {
        width: 100%;
        background-color:#F8F8FE;
        margin-top: 5rem;
        padding-top: 2rem;
    }

    .productivity .content > div {
        display: flex;
        flex-direction: row-reverse;
        gap: 2rem;
        align-items: center;
    }

    .productivity .content > * {
        width: min(85%, 75rem);
        margin: auto;
    }

    .productivity .content > img {
        width: 30%;
    }

    .productivity .stay {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .productivity .stay h1 {
        text-align: left;
        font-size: 2rem;
    }

    .productivity .stay div > h1 ~ p {
        color: var(--desat-blue);
        font-size: .8rem;
        margin-bottom: 1rem;
        padding-right: 5rem;
    }

    .productivity .stay > div:nth-child(1) a  {
        justify-content: flex-start;
    }

    .productivity .stay > div + div {
        width: 50%;
        font-size: .7rem;
    }

    /* Get early access section styling */
    .access {
        text-align: left;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .access h2 {
        font-size: 1.8rem;
    }

    .access > div + div {
        row-gap: 1rem;
    }

    .access > div + div > a {
        width: 40%;
        text-align: center;
        margin-left: 8%;
    }

    footer > * {
        width: min(85%, 75rem);
    }

    .footer {
        display: grid;
        row-gap: 0rem;
        align-items: baseline;
        padding-top: 3rem;
    }

    .footer > img {
        grid-column: 1/5;
    }

    .footer > div:nth-child(2) {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .footer > div:nth-child(3) {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .footer > div:nth-child(4) {
        grid-row: 2/3;
        grid-column: 3/4;
    }

}
